@model BackEndCapstone.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

    <h4>Service</h4>
<div class="bk-font-black">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LengthOfService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LengthOfService)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceId" class="btn btn-default reg-btn">Edit</a> |
    <a asp-action="Index" class="btn btn-default reg-btn">Back to List</a>
</div>
