@model IEnumerable<BackEndCapstone.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h2>Services</h2>

<p>
    <a asp-action="Create" class="text-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Length of Service (in minutes)")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfService)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId" class="text-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId" class="text-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId" class="text-success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
