@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>First Name: </dt>
        <dd>
            @Model.AppUser.FirstName
        </dd>

        <dt>Last Name: </dt>
        <dd>
            @Model.AppUser.LastName
        </dd>

        <dt>Phone Number: </dt>
        <dd>
            @Model.AppUser.PhoneNumber
        </dd>

        <dt>Email: </dt>
        <dd>
            @Model.AppUser.Email
        </dd>
    </dl>
    <div>
        <a asp-controller="Appointments" asp-action="AppointmentHistory" asp-route-id="@Model.AppUser.Id">Appointment History</a>
    </div>
    <br />
    <a asp-action="EditProfile" asp-route-id="@Model.AppUser.Id" class="btn btn-default">Edit Profile</a>
</div>